header{
    height:75px;
    background-color: bisque;
}
body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
.top-banner{
    background-image:url(images/top-banner.png);
    background-repeat: no-repeat;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}

.name{
    color: chocolate;
}

.flexible-container{
    display: flex;
}
.left{
 width:50%;
 margin-left: 40px;
}
.right img{
  width:65% ;
  margin-top: 20px;
  margin-left: 150px;
}

.button{

    text-decoration: none;
    background-color: orangered;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    color: palegoldenrod;
    border-radius: 5px;
    font-weight: 700;

}
.dream-big{
    margin-top: 20px;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.dream-right{
    width:50%;
    margin-left: 50px;
   }
   .dream-left img{
     width:70% ;
     margin-left: 50px;
   }
.experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    
}
.box{
        width:35%;
        margin-right: 5%;
        margin-left: 5%;
        padding-left: 12px;
        box-shadow: 10px 10px 30px gray;
        border-radius: 10px;
        border-left: 7px solid;  
}
#one{
  border-image:linear-gradient( orange, tomato) ;
  border-image-slice:1 ;
}
#two{
    border-image:linear-gradient(blue, cyan) ;
  border-image-slice:1 ;
}