header{
    height:75px;
    background-color: bisque;
}
body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
.top-banner{
    background-image:url(images/top-banner.png);
    background-repeat: no-repeat;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}

.name{
    color: chocolate;
}

section{
    display: flex;
}
.left{
 width:50%;
 margin-left: 40px;
}
.right img{
  width:65% ;
  margin-top: 20px;
  margin-left: 150px;
}

.button{

    text-decoration: none;
    background-color: orangered;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    color: palegoldenrod;
    border-radius: 5px;
    font-weight: 700;

}